@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  -webkit-user-select: none;
  -webkit-user-drag: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

body {
  min-height: 100vh;
  min-height: fill-available;
}

/* ===== createStory font ====== */
@font-face {
  font-family: 'SCDream6';
  src: url('../../public/fonts/SCDream6.otf');
}
/* ===== storyDetail font ====== */
@font-face {
  font-family: 'Pretendard-Bold';
  src: url('../../public/fonts/Pretendard-Bold.otf');
}
@font-face {
  font-family: 'SCDream4';
  src: url('../../public/fonts/SCDream4.otf');
}

/* Swiper pagination 색상 */

/* .swiper {
  width: 100%;
  height: 100%;
  white-space: pre-wrap;
} */

.swiper {
  width: 288px;
  height: 100vh;
  /* margin-top: 100px; */
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide {
  width: 288px;
  /* height: 480px; */
  height: 100vh;
  padding-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: aquamarine; */
}

.swiper .swiper-pagination {
  position: absolute;
  margin-bottom: 110px;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  display: none;
}

.swiper-button-prev {
  display: none;
}

.swiper-button-next {
  background: url(/assets/onboarding-arrow.svg) no-repeat;
  background-position: center;
  width: 41px;
  height: 41px;
}

.swiper-pagination-bullet {
  background: #d9d9d9 !important;
}
.swiper-pagination-bullet-active {
  background: #ef6262 !important;
}

/* .swiper-pagination {
  top: calc(var(--vh, 1vh) * 75) !important;

  @media (min-height: 1080px) {
    top: calc(var(--vh, 1vh) * 60) !important;
  }
} */
